__pycache__/
*.log
*.ko
*.o
*.plist
*.img4
*.im4p
*.dmg
*.pkg
*.bin
*.memboot
*.apticket
*.HEIC
*.heic
FDRData*
private/
firmware/
download/
prefix/
driver/src/
driver/pkg/
driver/*.tar.gz
driver/*.pkg.tar.zst
